{% extends "base.html" %}
{% block title %}competition{% endblock %}
{% block wrap %}
<table class="table">
<caption>比赛统计(点击查看比赛详细信息)</caption>
<tr>
	<th style="width:15%;text-align:left;padding-left:10px;">英雄</th>
	<th style="width:15%;text-align:left;padding-left:10px;">比赛ID</th>
	<th style="width:10%;text-align:left;padding-left:10px;">结束时间</th>
	<th style="width:10%;text-align:left;padding-left:10px;">结果</th>
	<th style="width:15%;text-align:left;padding-left:10px;">KDA(K/D/A)</th>
	<th style="width:10%;text-align:left;padding-left:10px;">Level</th>
	<th style="width:25%;text-align:left;padding-left:10px;">物品</th>
</tr>
<tr>
	<td><img class="td-img" src="images/warlock_hphover.png"/>术士</td>
	<td><p>213536647544</p><p>全阵营</p></td>
	<td>2个月前</td>
	<td>胜利</td>
	<td>1.3(23/34/35)</td>
	<td>Normal</td>
	<td><img src="images/tpscroll_lg.png"/>
	<img src="images/tpscroll_lg.png">
	<img src="images/tpscroll_lg.png">
	<img src="images/tpscroll_lg.png">
	<img src="images/tpscroll_lg.png"></td>
</tr>
<tr class="tr1">
	<td><img class="td-img" src="images/zuus_hphover.png"/>术士</td>
	<td><p>213536647544</p><p>全阵营</p></td>
	<td>2个月前</td>
	<td>胜利</td>
	<td>1.3(23/34/35)</td>
	<td>Normal</td>
	<td><img src="images/tpscroll_lg.png"/>
	<img src="images/tpscroll_lg.png">
	<img src="images/tpscroll_lg.png">
	<img src="images/tpscroll_lg.png">
	<img src="images/tpscroll_lg.png"></td>
</tr>
<tr>
	<td><img class="td-img" src="images/warlock_hphover.png"/>术士</td>
	<td><p>213536647544</p><p>全阵营</p></td>
	<td>2个月前</td>
	<td>胜利</td>
	<td>1.3(23/34/35)</td>
	<td>Normal</td>
	<td><img src="images/tpscroll_lg.png"/>
	<img src="images/tpscroll_lg.png">
	<img src="images/tpscroll_lg.png">
	<img src="images/tpscroll_lg.png">
	<img src="images/tpscroll_lg.png"></td>
</tr>
<tr class="tr1">
	<td><img class="td-img" src="images/zuus_hphover.png"/>术士</td>
	<td><p>213536647544</p><p>全阵营</p></td>
	<td>2个月前</td>
	<td>胜利</td>
	<td>1.3(23/34/35)</td>
	<td>Normal</td>
	<td><img src="images/tpscroll_lg.png"/>
	<img src="images/tpscroll_lg.png">
	<img src="images/tpscroll_lg.png">
	<img src="images/tpscroll_lg.png">
	<img src="images/tpscroll_lg.png"></td>
</tr>
</table>
{% endblock %}