<!DOCTYPE html>
<html lang="zh">
<head>
	<title>Sign In</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static',filename='login.js') }}"></script>
</head>
<body>
	<script type="text/javascript">
    	var bgin = parseInt(Math.random()*5+1);
		document.body.style.backgroundImage = "url(static/images/p_0"+bgin+".jpg)";
    </script>
	<div class="nav">
		<a href="DotaMax.html">
			<img class="nav-head" src="{{ url_for('static',filename='./images/max_logo3.png') }}"  onmouseover="this.src='{{ url_for('static',filename='./images/max_logo2.png') }}'" onmouseout="this.src='{{ url_for('static',filename='./images/max_logo3.png') }}'"/>
		</a>
	</div>
	<div class="display">
		<div class="selectlog">
			<div style = "font-size:20px;height:30px;line-height:30px">Find Psssword</div>
		</div>
	    <img src="{{ url_for('static',filename='./images/max.png') }}" style="margin:10px;width:120px;" />
	    <p style="margin-bottom:20px;color:#ccc;font-size: 14px;font-weight: 600;">The first game data platform</p>
	    <form name="form_login" action="pwdChange" method="post">
			<input onkeydown="switchline(event)" autofocus="autofocus" class="login-input all-radius" type="text" name="email" id="username" placeholder="email:" /><br/>
			<input onkeydown="switchline(event)" class="login-input all-radius" type="password" name="password" placeholder="password:"/><br/>
			<div id="error">{{error}}</div>
			<input onkeydown="switchline(event)" class="login-input all-radius" type="password" name="confirm" placeholder="confirm password:"/><br/>
			<input id="switchLR" class="login-btn all-radius btn-left" type="submit" value="submit" onclick="return check();" />
			<input id="reset" class="login-btn all-radius btn-right" type="reset" value="Reset" />
		</form>
	</div>
</body>
</html>