<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<script>
function checkinput(event){
  var keyCode = event.keyCode;
  console.log(keyCode);
  if (keyCode < 48 || keyCode > 57){
    event.returnValue = false;
  }
  var input = document.form_login.accountid.value;
  if(input.length > 20){
     alert('the word is too long!');
  } 
}
</script
   <div class="container" >
       <br>
         <br>
         <br>
         <br>
      <!-- left -->
      <div class="col-lg-8 col-md-offset-2">
          <form name="form_login" action="" method="post">
            <div class="input-group">
               <input type="text" name="accountid" class="form-control" onkeydown = "checkinput(event)">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    Add!
                  </button>
               </span>          
            </div>
          </form>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <div><font size="7" color="red">{{message}}</font></div>
          {% endfor %}
          {% endif %}
          {% endwith %}
         </div>
         <br>
         <br>
         <br>
         <br>
    <div class="panel panel-default col-sm-6 col-md-offset-3"  style = "background-color:#111111;color:white">
       <table class="table">
          <th>Followers</th>
          {% for follower in followers %}
          
          <tr>
         
            <td> <a target="_blank" href="/follower_match?accountid={{follower[0]}}">{{follower[0]}}</a></td>
          </tr>
          {% endfor %}
       </table>
    </div>
    <!-- left over -->
  </div>
  {% endblock %}