{% extends "base.html" %}
{% block title %}goods{% endblock %}
{% block wrap %}
<table class="table">
<caption>物品统计</caption>
<tr>
	<th style="width:16%;">物品</th>
	<th style="width:16%;">使用次数</th>
	<th style="width:16%;">胜率</th>
	<th style="width:16%;">KDA(K/D/A)</th>
	<th style="width:16%;">金钱分钟</th>
	<th style="width:16%;">经验分钟</th>
</tr>
<tr>
	<td><img class="td-img" src="images/tpscroll_lg.png"/>回城卷轴</td>
	<td><p>22</p><div class="tdcolor"></div></td>
	<td><p>22%</p><div class="tdcolor"></div></td>
	<td><p>22<span>(8.3/3.5/6.4)</span></p><div class="tdcolor"></div></td>
	<td><p>22</p><div class="tdcolor"></div></td>
	<td><p>22</p><div class="tdcolor"></div></td>
</tr>
<tr class="tr1">
	<td><img class="td-img" src="images/magic_wand_lg.png"/>回城卷轴</td>
	<td><p>22</p><div class="tdcolor"></div></td>
	<td><p>22%</p><div class="tdcolor"></div></td>
	<td><p>22<span>(8.3/3.5/6.4)</span></p><div class="tdcolor"></div></td>
	<td><p>22</p><div class="tdcolor"></div></td>
	<td><p>22</p><div class="tdcolor"></div></td>
</tr>
<tr>
	<td><img class="td-img" src="images/tpscroll_lg.png"/>回城卷轴</td>
	<td><p>22</p><div class="tdcolor"></div></td>
	<td><p>22%</p><div class="tdcolor"></div></td>
	<td><p>22<span>(8.3/3.5/6.4)</span></p><div class="tdcolor"></div></td>
	<td><p>22</p><div class="tdcolor"></div></td>
	<td><p>22</p><div class="tdcolor"></div></td>
</tr>
<tr class="tr1">
	<td><img class="td-img" src="images/magic_wand_lg.png"/>回城卷轴</td>
	<td><p>22</p><div class="tdcolor"></div></td>
	<td><p>22%</p><div class="tdcolor"></div></td>
	<td><p>22<span>(8.3/3.5/6.4)</span></p><div class="tdcolor"></div></td>
	<td><p>22</p><div class="tdcolor"></div></td>
	<td><p>22</p><div class="tdcolor"></div></td>
</tr>
</table> 
{% endblock %}