<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
   <div class="container" >
    	<!-- left -->
		<div class="panel panel-default col-sm-8"  style = "background-color:#111111;color:white">
		   <table class="table">
  			  
		      <th>Picture</th><th>Name </th><th>Abilities</th>
		      {% for hero in heroes %}
		      <tr>
		      	<td><img  width="70" height="50" src="{{ hero[4] }}"/></td>
		      	<td>{{hero[2]}}</td>
		      	<td>
		      		{% for ability in abilities %}
		      		{% if ability[2] in hero %}
		      	
		      		<img width="50" height="50" src="http://cdn.dota2.com.cn/apps/dota2/images/abilities/{{ability[1]}}_lg.png" data-toggle="tooltip" data-placement="top" title="{{ability[1]}}"/>
		     
		      		{% endif %}
		      		{% endfor %}
		      	</td>
		      </tr>
		      {% endfor %}

		   </table>
		</div>
		<!-- left over -->

		<!-- right -->
		<div class="list-group col-sm-3 pull-right" style = "margin:0 auto;text-align:center;">
			
			{% if steam_msg %}
			<div class="list-group-item active" style = "background-color:#111111;color:white">
		      <h4 class="list-group-item-heading">
		         <span class="glyphicon glyphicon-user"></span>User Information
		      </h4>
		   </div>
		   <div class="list-group-item" style = "background-color:#111111;color:white">
				<img src="{{steam_msg[8]}}" class="img-circle" />
			</div>
		   <div class="list-group-item" style = "background-color:#111111;color:white">
		      <h4 class="list-group-item-heading">
		         SteamID:{{steam_msg[0]}}
		      </h4>
		   </div>
		   <div class="list-group-item" style = "background-color:#111111;color:white">
		      <h4 class="list-group-item-heading">
		      <a href="{{steam_msg[5]}}">steamcommunity</a>
		      </h4>
		   </div>
		   <div class="list-group-item" style = "background-color:#111111;color:white">
		      <h4 class="list-group-item-heading">
		         Last Logoff:{{steam_msg[4]}}
		      </h4>
		   </div>
		   {% else %}
		   <div class="list-group-item active" style = "background-color:#111111;color:white">
		      <h4 class="list-group-item-heading">
		         <span class="glyphicon glyphicon-user"></span>User Information
		      </h4>
		   </div>
		   <div class="list-group-item" style = "background-color:#111111;color:white">
				<img src="{{ url_for('static',filename='images/user.png') }}" class="img-circle" />
			</div>
		   {% endif %}
		</div>
		<!-- right over -->
	</div>
	<script>
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
   <!-- footer -->
{% endblock %}