<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="index.css">
	<title>hero</title>
</head>
<body>
	<heard>
		<div class="nav-logo">
			<img class="user-avatar" src="images/default_avatar.png"/>
			<div class="user-infor">
				<p class="row">
					<span class="label">当前账号</span>
					<span class="content">替换</span>
				</p>
				<p class="row">
					<span class="label">MAX ID</span>
					<span class="content">替换</span>
				</p>
				<p class="row">
					<span class="label">昵称</span>
					<span class="content">替换</span>
				</p>
				<p class="row">
					<span class="label">Steam ID</span>
					<span class="content">替换替换替换替换</span>
				</p>
			</div>
		</div>
		<nav id="nav-heard">
			<ul>
				<li><a href="index.html">综合统计</a></li>
				<li><a href="hero.html">英雄统计</a></li>
				<li><a href="goods.html">物品统计</a></li>
				<li><a href="competition.html">比赛统计</a></li>
			</ul>
		</nav>
	</heard>
	<section class="wrap">
		<table class="table">
		<caption>英雄统计(点击查看此英雄的所有比赛)</caption>
		<tr>
			<th style="width:14%;">英雄</th>
			<th style="width:14%;">使用次数</th>
			<th style="width:14%;">胜率</th>
			<th style="width:14%;">KDA(K/D/A)</th>
			<th style="width:14%;">所有玩家平均KDA</th>
			<th style="width:14%;">金钱分钟</th>
			<th style="width:14%;">经验分钟</th>
		</tr>
		<tr>
			<td><img class="td-img" src="images/warlock_hphover.png"/>术士</td>
			<td><p>22</p><div class="tdcolor"></div></td>
			<td><p>22%</p><div class="tdcolor"></div></td>
			<td><p>22<span>(8.3/3.5/6.4)</span></p><div class="tdcolor"></div></td>
			<td><p>22</p><div class="tdcolor"></div></td>
			<td><p>22</p><div class="tdcolor"></div></td>
			<td><p>22</p><div class="tdcolor"></div></td>
		</tr>
		<tr class="tr1">
			<td><img class="td-img" src="images/zuus_hphover.png"/>术士</td>
			<td><p>22</p><div class="tdcolor"></div></td>
			<td><p>22%</p><div class="tdcolor"></div></td>
			<td><p>22<span>(8.3/3.5/6.4)</span></p><div class="tdcolor"></div></td>
			<td><p>22</p><div class="tdcolor"></div></td>
			<td><p>22</p><div class="tdcolor"></div></td>
			<td><p>22</p><div class="tdcolor"></div></td>
		</tr>
		<tr>
			<td><img class="td-img" src="images/warlock_hphover.png"/>术士</td>
			<td><p>22</p><div class="tdcolor"></div></td>
			<td><p>22%</p><div class="tdcolor"></div></td>
			<td><p>22<span>(8.3/3.5/6.4)</span></p><div class="tdcolor"></div></td>
			<td><p>22</p><div class="tdcolor"></div></td>
			<td><p>22</p><div class="tdcolor"></div></td>
			<td><p>22</p><div class="tdcolor"></div></td>
		</tr>
		<tr class="tr1">
			<td><img class="td-img" src="images/zuus_hphover.png"/>术士</td>
			<td><p>22</p><div class="tdcolor"></div></td>
			<td><p>22%</p><div class="tdcolor"></div></td>
			<td><p>22<span>(8.3/3.5/6.4)</span></p><div class="tdcolor"></div></td>
			<td><p>22</p><div class="tdcolor"></div></td>
			<td><p>22</p><div class="tdcolor"></div></td>
			<td><p>22</p><div class="tdcolor"></div></td>
		</tr>
		</table>
	</section> 
</body>
</html>