<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Illegal - Dodata</title>
   <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="jquery/jquery.min.js"></script>
   <script src="bootstrap/js/bootstrap.min.js"></script>
   <script> 
	var t = 3;//设定跳转的时间 
	setInterval("refer()",1000); //启动1秒定时 
	function refer(){ 
		if(t==0){ 
			window.history.back(-1);
		} 
		document.getElementById('show').innerHTML="The SteamID you have commit is illegal"; // 显示倒计时 
		if(t==0){ 
		} else{
			t--; 
		}
	
	} 
</script> 
</head>
<body>
<div class="container" >
      <div id="show"></div>
</div>
</body>
</html>