<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<script>
function checkNumber(obj){
    var reg = /^[\d]+$/g;
    if (!reg.test(obj.value)){
        var txt = obj.value;
        txt.replace(/[^0-9]+/, function (char, index, val) {//匹配第一次非数字字符
            obj.value = val.replace(/\D/g, "");//将非数字字符替换成""
            var rtextRange = null;
            if (obj.setSelectionRange) {
              obj.setSelectionRange(index, index);
            } else {//支持ie
              rtextRange = obj.createTextRange();
              rtextRange.moveStart('character', index);
              rtextRange.collapse(true);
              rtextRange.select();
            }
        })
    }
    var input = document.form_login.steamid.value;
    if(input.length > 20){
       alert('the word is too long!');
       document.form_login.steamid.value = " ";
  } 
}
</script>
   <div class="container" >
      <form name="form_login" action="" method="post">
		<div class="list-group col-sm-11 pull-right" style = "margin:0 auto;text-align:center;">
			
			<div class="list-group-item active" style = "background-color:#111111;color:white">
		      <h4 class="list-group-item-heading">
		         <span class="glyphicon glyphicon-user"></span>User Settings
		      </h4>
		   </div>
		   {% if steam_msg %}
		   <div class="list-group-item" style = "background-color:#111111;color:white">
				<img src="{{ steam_msg['avatarfull'] }}" class="img-circle" />
			</div>
			{% else %}
			 <div class="list-group-item" style = "background-color:#111111;color:white">
				<img src="{{ url_for('static',filename='images/user.png') }}" class="img-circle" />
			</div>
		   {% endif %}
		   <div class="list-group-item" style = "background-color:#111111;color:white">
		         <div class="input-group col-sm-5" style = "margin:0 auto;text-align:center;">
			         <input type="text" class="form-control  pull-left" placeholder="SteamID" name="steamid" onkeyup="javascript:checkNumber(this)" >
			     </div>
		   </div>
		   <div class="list-group-item" style = "background-color:#111111;color:white">
		      <div class="input-group col-sm-2" style = "margin:0 auto;text-align:center;">
			         <input type="submit" value="Search" class="form-control  pull-left">
			   </div>
		   </div>
		   {% with messages = get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
			<div><font size="7" color="red">{{message}}</font></div>
			{% endfor %}
		    {% endif %}
		    {% endwith %}
		</div>
	  </form>
	</div>
  {% endblock %}